<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3396.1786" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3396.1786" targetFramework="net452" />
  <package id="CefSharp.Common" version="67.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="67.0.0" targetFramework="net452" />
  <package id="CSharp.Winform" version="1.0.0.0" targetFramework="net452" />
  <package id="EO.WebBrowser" version="18.2.74" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net35" requireReinstallation="true" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net452" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net452" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net452" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net452" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net452" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net452" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net452" />
</packages>